.board-header {
  padding: 6rem 0 4rem;
  background-color: var(--color-bg);
  text-align: center;
}

.board-intro {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #ccc;
}

.board-grid-section {
  padding-bottom: 6rem;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2.5rem;
}
